.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 1.5rem;
    // position: sticky;
    // top: 0;
    // z-index: 100;
  
    .logo-container {
      height: 100%;
      width: 70px;
    //   padding: 25px;

      .logo {
        //   margin-bottom: 100px;
        transform: scale(1);
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        // text-decoration: none;
        // color: black;
      }

      .option:hover {
        // background: #eee;
        background: yellow;
        border-radius: 4px;
        transform: scale(1.1);
        font-weight: bold;
        padding-bottom: 15px;
      }

      // .display {
      //   display: none;
      //   opacity: 0;
      // }
    }

    // .cart-dropdown{
    //   display: none
    // }

    // .cart-dropdown.active{
    //   display: block
    // }
  }
  